python-dotenv==1.1.1    
langchain==0.3.27        
transformers==4.55.0     
pinecone-client==6.0.0  
langchain-huggingface==0.3.1 
langchain-pinecone==0.2.11    
sentence-transformers==5.1.0  
streamlit==1.48.0
huggingface-hub==0.34.3
ipykernel==6.30.1
ipywidgets==8.1.7
langchain-community==0.3.27
pypdf==5.9.0
